body {
  padding-top: 3.5rem;
  background-color: rgb(var(--bs-light-rgb)) !important;
}

nav.bg-light {
  background: #fff !important;
}

.navbar-light .navbar-nav .nav-link.active,
span.navbar-brand {
  color: rgba(var(--bs-success-rgb)) !important;
}

nav.navbar {
  box-shadow: 0 0 5px grey;
}

.btn-circle {
  width: 50px;
  height: 50px;
  padding: 4px 0;
  border-radius: 50%;
  font-size: 1.8rem;
  line-height: 1.42857;
}

main-content {
  background: #ebedef !important;
  display: block;
}

main {
  padding-bottom: 1rem;
}

main.container {
  padding-top: 1rem;
}

.custom-input-file {
  cursor: pointer;
}

.custom-input-file.image-preview {
  border: 2px dashed #ced4da;
  border-radius: 0.25rem;
}

.custom-input-file.image-preview img {
  max-height: 9.5rem;
}

input.input-image-preview {
  display: none;
}

div.card#location-check {
  position: relative;
  overflow: hidden;
}

div.card#location-check::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  filter: grayscale(100%);
  opacity: 0.08;
  background-image: url("../assets/image/maps_640.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

div.card#location-check .card-body {
  position: relative;
}

.carousel-inner {
  width: 90%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
}
